# Module - 1

Data Pre-Processing

In [1]:
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=p.read_csv('churn.csv')

In [4]:
data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [5]:
data.shape

(7043, 38)

In [6]:
data.isnull().sum()

Customer ID                             0
Gender                                  0
Age                                     0
Married                                 0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Number of Referrals                     0
Tenure in Months                        0
Offer                                   0
Phone Service                           0
Avg Monthly Long Distance Charges     682
Multiple Lines                        682
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download              1526
Online Security                      1526
Online Backup                        1526
Device Protection Plan               1526
Premium Tech Support                 1526
Streaming TV                         1526
Streaming Movies                     1526
Streaming Music                      1526
Unlimited Data                       1526
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Customer Status                         0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [7]:
sum(data.isnull().sum())

26972

In [8]:
data.columns

Index(['Customer ID', 'Gender', 'Age', 'Married', 'Number of Dependents',
       'City', 'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [9]:
data['Customer Status'].unique()

array(['Stayed', 'Churned', 'Joined'], dtype=object)

In [10]:
data[data["Customer Status"] == 'Churned' ]

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.90,280.85,0.0,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.00,1237.85,0.0,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.90,267.40,0.0,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
18,0022-TCJCI,Male,79,No,0,Daly City,94015,37.680844,-122.481310,0,...,Credit Card,62.70,2791.50,0.0,0,480.15,3271.65,Churned,Dissatisfaction,Limited range of services
19,0023-HGHWL,Male,67,No,0,Morgan Hill,95037,37.161544,-121.649371,0,...,Bank Withdrawal,25.10,25.10,0.0,0,0.00,25.10,Churned,Competitor,Competitor made better offer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7020,9961-JBNMK,Male,79,No,0,Desert Center,92239,33.889605,-115.257009,0,...,Bank Withdrawal,-1.00,2030.30,10.2,0,887.67,2907.77,Churned,Dissatisfaction,Product dissatisfaction
7023,9965-YOKZB,Male,73,No,0,Grizzly Flats,95636,38.636102,-120.522149,0,...,Bank Withdrawal,83.85,790.15,0.0,0,90.36,880.51,Churned,Dissatisfaction,Network reliability
7036,9985-MWVIX,Female,53,No,0,Hume,93628,36.807595,-118.901544,0,...,Credit Card,70.15,70.15,0.0,0,42.09,112.24,Churned,Competitor,Competitor had better devices
7037,9986-BONCE,Female,36,No,0,Fallbrook,92028,33.362575,-117.299644,0,...,Bank Withdrawal,20.95,85.50,0.0,0,8.04,93.54,Churned,Competitor,Competitor made better offer
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,...,Bank Withdrawal,85.10,1873.70,0.0,0,356.40,2230.10,Churned,Dissatisfaction,Product dissatisfaction

In [11]:
data[data["Customer Status"] == 'Churned'].shape

(1869, 38)

In [12]:
data[data["Customer Status"] == 'Stayed'].shape

(4720, 38)

In [13]:
a = data["Age"].unique()
a.sort()
print(a)

[19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66
 67 68 69 70 71 72 73 74 75 76 77 78 79 80]

In [14]:
data["Internet Type"].unique()

array(['Cable', 'Fiber Optic', 'DSL', nan], dtype=object)

In [15]:
data["Unlimited Data"].unique()

array(['Yes', 'No', nan], dtype=object)

In [16]:
data["Contract"].unique()

array(['One Year', 'Month-to-Month', 'Two Year'], dtype=object)

In [17]:
data["Payment Method"].unique()

array(['Credit Card', 'Bank Withdrawal', 'Mailed Check'], dtype=object)

In [18]:
data[data["Payment Method"] == 'Credit Card']

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
5,0013-MHZWF,Female,23,No,3,Midpines,95345,37.581496,-119.972762,0,...,Credit Card,69.40,571.45,0.00,0,150.93,722.38,Stayed,NaN,NaN
7,0014-BMAQU,Male,52,Yes,0,Napa,94558,38.489789,-122.270110,8,...,Credit Card,84.65,5377.80,0.00,20,816.48,6214.28,Stayed,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035,9979-RGMZT,Female,20,No,0,Los Angeles,90022,34.023810,-118.156582,0,...,Credit Card,94.05,633.45,0.00,0,255.43,888.88,Stayed,NaN,NaN
7036,9985-MWVIX,Female,53,No,0,Hume,93628,36.807595,-118.901544,0,...,Credit Card,70.15,70.15,0.00,0,42.09,112.24,Churned,Competitor,Competitor had better devices
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,...,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed,NaN,NaN
7040,9992-UJOEL,Male,22,No,0,Elk,95432,39.108252,-123.645121,0,...,Credit Card,50.30,92.75,0.00,0,37.24,129.99,Joined,NaN,NaN
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,...,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed,NaN,NaN

In [19]:
df = data.dropna()

In [20]:
df.isnull().sum()

Customer ID                          0
Gender                               0
Age                                  0
Married                              0
Number of Dependents                 0
City                                 0
Zip Code                             0
Latitude                             0
Longitude                            0
Number of Referrals                  0
Tenure in Months                     0
Offer                                0
Phone Service                        0
Avg Monthly Long Distance Charges    0
Multiple Lines                       0
Internet Service                     0
Internet Type                        0
Avg Monthly GB Download              0
Online Security                      0
Online Backup                        0
Device Protection Plan               0
Premium Tech Support                 0
Streaming TV                         0
Streaming Movies                     0
Streaming Music                      0
Unlimited Data                       0
Contract                             0
Paperless Billing                    0
Payment Method                       0
Monthly Charge                       0
Total Charges                        0
Total Refunds                        0
Total Extra Data Charges             0
Total Long Distance Charges          0
Total Revenue                        0
Customer Status                      0
Churn Category                       0
Churn Reason                         0
dtype: int64

In [21]:
df.shape

(1586, 38)

In [22]:
df.describe()

,Age,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
count,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000
mean,50.165826,0.092686,93433.361917,36.009995,-119.657843,0.535309,18.902900,25.513789,23.447667,81.108670,1719.085120,1.672440,7.358134,496.524836,2221.295649
std,17.684679,0.455859,1830.004432,2.509295,2.158015,1.122335,19.759294,14.275965,17.742749,19.814937,1968.407799,7.403069,25.146016,677.154114,2543.063161
min,19.000000,0.000000,90001.000000,32.555828,-124.301372,0.000000,1.000000,1.020000,2.000000,-9.000000,42.900000,0.000000,0.000000,1.130000,46.920000
25%,35.000000,0.000000,92117.000000,33.874789,-121.722780,0.000000,3.000000,12.930000,11.000000,71.000000,189.412500,0.000000,0.000000,46.170000,260.280000
50%,50.000000,0.000000,93278.500000,35.383810,-119.223051,0.000000,11.000000,25.805000,20.000000,83.925000,890.250000,0.000000,0.000000,193.340000,1142.355000
75%,65.750000,0.000000,95309.000000,38.066743,-117.776544,1.000000,31.000000,37.755000,28.000000,95.350000,2618.912500,0.000000,0.000000,653.350000,3414.087500
max,80.000000,5.000000,96150.000000,41.962127,-115.191857,9.000000,72.000000,49.980000,85.000000,118.350000,8684.800000,49.570000,150.000000,3508.820000,11195.440000

In [23]:
df.corr()

,Age,Number of Dependents,Zip Code,Latitude,Longitude,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
Age,1.000000,-0.062012,0.000948,-0.009548,-0.002513,0.015455,0.051679,-0.001822,-0.557728,0.086930,0.047173,-0.011358,0.035674,0.045641,0.049052
Number of Dependents,-0.062012,1.000000,-0.185579,-0.103881,0.095076,0.017646,-0.086555,-0.041017,0.141281,-0.099977,-0.092161,0.105321,-0.010548,-0.073116,-0.091215
Zip Code,0.000948,-0.185579,1.000000,0.892711,-0.805504,-0.002843,0.012289,0.023319,-0.020040,0.057723,0.015335,0.063335,-0.013413,0.015989,0.015810
Latitude,-0.009548,-0.103881,0.892711,1.000000,-0.910750,-0.024829,0.009386,0.014372,-0.010251,0.057115,0.016167,0.067936,-0.006999,0.010233,0.014971
Longitude,-0.002513,0.095076,-0.805504,-0.910750,1.000000,0.015783,-0.010660,-0.007387,0.014034,-0.062939,-0.016452,-0.089084,0.004253,-0.008196,-0.014615
Number of Referrals,0.015455,0.017646,-0.002843,-0.024829,0.015783,1.000000,0.219359,0.017356,-0.012137,0.129265,0.220354,0.064363,0.017279,0.190385,0.221239
Tenure in Months,0.051679,-0.086555,0.012289,0.009386,-0.010660,0.219359,1.000000,0.050514,-0.014734,0.437390,0.980768,0.038971,0.151705,0.809545,0.976093
Avg Monthly Long Distance Charges,-0.001822,-0.041017,0.023319,0.014372,-0.007387,0.017356,0.050514,1.000000,0.008900,0.017867,0.052642,-0.000114,0.019329,0.450155,0.160803
Avg Monthly GB Download,-0.557728,0.141281,-0.020040,-0.010251,0.014034,-0.012137,-0.014734,0.008900,1.000000,-0.045048,-0.009524,0.034561,-0.002749,-0.027715,-0.014879
Monthly Charge,0.086930,-0.099977,0.057723,0.057115,-0.062939,0.129265,0.437390,0.017867,-0.045048,1.000000,0.513843,0.032710,0.071330,0.344347,0.490031
Total Charges,0.047173,-0.092161,0.015335,0.016167,-0.016452,0.220354,0.980768,0.052642,-0.009524,0.513843,1.000000,0.032910,0.143331,0.793581,0.986662
Total Refunds,-0.011358,0.105321,0.063335,0.067936,-0.089084,0.064363,0.038971,-0.000114,0.034561,0.032710,0.032910,1.000000,0.034900,0.027476,0.030224
Total Extra Data Charges,0.035674,-0.010548,-0.013413,-0.006999,0.004253,0.017279,0.151705,0.019329,-0.002749,0.071330,0.143331,0.034900,1.000000,0.141592,0.158431
Total Long Distance Charges,0.045641,-0.073116,0.015989,0.010233,-0.008196,0.190385,0.809545,0.450155,-0.027715,0.344347,0.793581,0.027476,0.141592,1.000000,0.881851
Total Revenue,0.049052,-0.091215,0.015810,0.014971,-0.014615,0.221239,0.976093,0.160803,-0.014879,0.490031,0.986662,0.030224,0.158431,0.881851,1.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1586 entries, 2 to 7039
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        1586 non-null   object
 1   Gender                             1586 non-null   object
 2   Age                                1586 non-null   int64
 3   Married                            1586 non-null   object
 4   Number of Dependents               1586 non-null   int64
 5   City                               1586 non-null   object
 6   Zip Code                           1586 non-null   int64
 7   Latitude                           1586 non-null   float64
 8   Longitude                          1586 non-null   float64
 9   Number of Referrals                1586 non-null   int64
 10  Tenure in Months                   1586 non-null   int64
 11  Offer                              1586 non-null   object
 12  Phone Service                      1586 non-null   object
 13  Avg Monthly Long Distance Charges  1586 non-null   float64
 14  Multiple Lines                     1586 non-null   object
 15  Internet Service                   1586 non-null   object
 16  Internet Type                      1586 non-null   object
 17  Avg Monthly GB Download            1586 non-null   float64
 18  Online Security                    1586 non-null   object
 19  Online Backup                      1586 non-null   object
 20  Device Protection Plan             1586 non-null   object
 21  Premium Tech Support               1586 non-null   object
 22  Streaming TV                       1586 non-null   object
 23  Streaming Movies                   1586 non-null   object
 24  Streaming Music                    1586 non-null   object
 25  Unlimited Data                     1586 non-null   object
 26  Contract                           1586 non-null   object
 27  Paperless Billing                  1586 non-null   object
 28  Payment Method                     1586 non-null   object
 29  Monthly Charge                     1586 non-null   float64
 30  Total Charges                      1586 non-null   float64
 31  Total Refunds                      1586 non-null   float64
 32  Total Extra Data Charges           1586 non-null   int64
 33  Total Long Distance Charges        1586 non-null   float64
 34  Total Revenue                      1586 non-null   float64
 35  Customer Status                    1586 non-null   object
 36  Churn Category                     1586 non-null   object
 37  Churn Reason                       1586 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 483.2+ KB

In [25]:
p.crosstab(df["Contract"], df["Customer Status"])

Customer Status  Churned
Contract
Month-to-Month      1403
One Year             143
Two Year              40

In [26]:
df["Contract"].value_counts()

Month-to-Month    1403
One Year           143
Two Year            40
Name: Contract, dtype: int64

In [27]:
df.duplicated()

2       False
3       False
4       False
18      False
21      False
        ...
7013    False
7020    False
7023    False
7036    False
7039    False
Length: 1586, dtype: bool

In [28]:
sum(df.duplicated())

0